<p>
    You have NBMAGNETS magnets.
</p>
<form action="/magnets" method="post" enctype="multipart/form-data">
    <input type="hidden" name="token" value="TOKEN" id="token3">
    <input type="submit" value="See the magnets">
</form>
