<fieldset>
    <legend>Haystack: Add Internet Service Provider network events</legend>
    <div>HAYSTACK</div>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="token" value="TOKEN" id="token0">
        <input type="file" name="straws-file" id="straws-file">
        <select id="format" name="format">
            <option value="native">native</option>
            <option value="fr/orange/fortinet">fr/orange/fortinet</option>
            <option value="fr/orange/f5">fr/orange/f5</option>
            <option value="fr/sfr/msisdn">fr/sfr/msisdn</option>
            <option value="fr/sfr/ip">fr/sfr/ip</option>
            <option value="cy/epic">cy/epic</option>
            <option value="es/orange">es/orange</option>
            <option value="es/yoigo">es/yoigo</option>
            <option value="es/vodafone">es/vodafone</option>
        </select>
        <input type="submit" value="Add data from the ISP">
    </form>
    <p>
        For the <code>fr/sfr/*</code> format, please make sure to upload all your <code>*_MSISDN.csv</code> files first, and the <code>*_IP.csv</code> files afterwards (NBSFRMAPPINGS mappings).
    </p>
</fieldset>
STRAW-ERRORS
SFR-ERRORS
<fieldset>
    <legend>Magnet: Add Content provider target event</legend>
    <div>MAGNETS</div>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="token" value="TOKEN" id="token1">
        <input type="hidden" name="magnet" value="osef" id="magnet">
        <input type="text" name="src-ip" id="src-ip" placeholder="Source IP e.g. 192.0.2.42">
        :
        <input type="text" name="src-port" id="src-port" placeholder="Source port e.g. 2142">
        ->
        <input type="text" name="dest-ip" id="dest-ip" placeholder="Destination IP e.g. 198.51.100.16">
        :
        <input type="text" name="dest-port" id="dest-port" placeholder="Destination port, e.g. 80">
        @
        <input type="text" name="datetime" id="date" placeholder="ISO formated UTC timestamp, e.g. 1987-12-15T17:05:01+00:00">
        &plusmn;
        <input type="text" name="interval" id="interval" value="1h">
        <input type="submit" value="Add data from the content provider">
    </form>
</fieldset>
MAGNET-ERRORS
<fieldset>
    <legend>Find your needle</legend>
    <form action="/results" method="post" enctype="multipart/form-data">
        <input type="hidden" name="token" value="TOKEN" id="token2">
        <input type="submit" value="See the results !">
    </form>
</fieldset>
<h2>Documentation</h2>
<ul>
    <li>See the <a href="https://www.youtube.com/watch?v=ce8PscaHToQ">explanations in english.</a></li>
    <li>Regarder <a href="https://www.youtube.com/watch?v=14A2R-WfRpU">les explications en fran&ccedil;ais.</a></li>
</ul>
