<fieldset>
    <legend>Errors parsing the mapping from IPs to MSISDN</legend>
    <div style=\"padding: 20px;background-color: #f44336;color: white;margin-bottom: 15px;\">
        <p>
            Mappings: NBSFRERRORS errors while parsing the given file(s):
        </p>
        <pre>
    SFRERRORSTEXT
        </pre>
        <p style="font-weight: bold;">
            Before you paste the error log anywhere, IT IS YOUR RESPONSABILITY TO ANONYMIZE PERSONAL OR INVESTIGATION DATA FIRST, gitlab.com is a public place.
        </p>
        <p>
            Do not panic and head to
            <a href=\"https://gitlab.com/edouardklein/denatting/issues\">
                https://gitlab.com/edouardklein/denatting/issues</a>
            to see if your particular issue has already been reported.
        </p>
        <p>
            If your issue has not been already reported, please open a new issue, and
            attach the error log you see above.
        </p>
    </div>
</fieldset>
